:root {
    --error: red;
    --nav-button: #7070ff;
}

html {
    font-size: 16px;
    font-family: "sans-serif";
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    all: unset;
}

.nav-style {
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.button {
    padding: 30px 30px;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--nav-button);
    border-radius: 5px;
    color: white;
    border: solid 2px black;
}

main {
    display: flex;
    flex-direction: row;
}

.strike {
    text-decoration: line-through;
}