:root {
    --error: red;
    --nav-button: #7070ff;
}

* {
    font-size: 42px;
    font-family: Segoe UI, Tahoma, Geneva, sans-serif;
    margin: 0;
    padding: 0;
}

/* Nav */
nav {
    margin: 50px;
}

a {
    display: inline-flex;
    align-items: center;
    height: 6vh;
    width: 30vw;
    justify-content: center;
    font-size: 40px;
}

nav a {
    color: white;
    background-color: dodgerblue;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
}

/* eind nav */
h1 {
    text-align: center;
    font-size: 75px;
    padding: 80px 80px 20px 80px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 60px;
}

input {
    height: 100px;
    width: 500px;
    font-size: 30px;
    text-align: center;
    border: solid 2px black;
    border-radius: 50px;
    margin-bottom: 20px;
}

.button {
    color: white;
    background-color: dodgerblue;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    align-items: center;
    height: 6vh;
    width: 30vw;
    justify-content: center;
    font-size: 40px;
}

.form-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 40px
}

ul {
    display: block;
    list-style-type: disc;
    margin: 2em 0 2em 0;
    padding-left: 60px;
    width: 60vw;
    max-height: 38vh;
    overflow: scroll;
}

li {
    font-size: 60px;
}

.strike {
    text-decoration: line-through;
}

#clear-button, #screen-reader-button {
    border-radius: 30px;
    padding: 15px 25px;
}
#clear-button{
    position: absolute;
    bottom: 12%;
    background-color: indianred;
    width: 20vh;
}
.screen-reader-button-container {
    position: absolute;
    top: 60px;
    right: 3vw;
    width: 256px;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.screen-reader-button {
    color: white;
    background-color: darkslateblue;
    height: 5vh;
    display: inline-flex;
    align-items: center;
}